@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin fontSize($min, $max) {
  @media screen and (max-width: 768px) {
    font-size: #{$min}px;
  }

  @media screen and (min-width: 1440px) {
    font-size: #{$max}px;
  }

  font-size:calc(#{$min}px + (#{$max} - #{$min}) * (100vw - 768px) / (1440 - 768));
}